<h1>Our Services</h1>
<p>Services we offer</p>
<div class="hero-unit" id="galleria">
    <img src="assets/Lavender.jpg">
	<img src="assets/_1030042.jpg">
</div>
<script>
	Galleria.loadTheme("assets/galleria/classic/galleria.classic.min.js");
	Galleria.run('#galleria');
</script>